
header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
    float: right;
    order: -1;
}

    header img {
        float: left;
        margin: 10px;
    }

    header h2 {
        float: right;
    }


nav {
    flex-direction: column;
    justify-content: center;
    background-color: #ccc;
    text-align: center;
    order: -1;
}

.a2 {
    order: -1;
}

table thead tr {
    background-color: red;
}

table tbody tr:nth-child(odd) {
    background-color: navy;
}

table tbody tr:nth-child(even) {
    background-color: red;
}


h1 {
    color: #3b8de0;
}

h2 {
    background-color: #ddd;
}

div {
    width: 100%;
    background-color: #ccc;
    margin: 20px auto 0;
}

ul li img {
    width: 100%;
}

img[usemap] {
    width: 100%;
}

footer {
    background-color: #777;
    text-align: center;
    color: white;
}


body {
    margin: 0;
    background-color: powderblue;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    width: 100%;
    box-sizing: border-box;
}


div {
    display: flex;
    flex-direction: column;
}

